# run = "vercel dev --token $VERCEL_TOKEN --confirm"
run = "npm run dev:new"
onBoot = "sh ./local/config-git.sh"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.svelte]
pattern = "**/*.svelte"
syntax = "svelte"

[languages.svelte.languageServer]
command = ["svelteserver", "--stdio"]

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.typescript.languageServer]
start = [ "typescript-language-server", "--stdio" ]